In [1]:
print("Hello World")

Hello World

# Comments in Python

In [3]:
# Assign a value to the variable b
b = 5

# Operators in python

## Arithmetic Operators

In [17]:
x = 5
y = 10
print("The two variables are")
print("X : ", x)
print("Y: ", y)
# Addition
print("Addition : ", x + y)
# Subtraction
print("Subtraction : ", x - y)
# multiplication
print("Multiplication : " ,  x * y)
# Division
print("Division : ", x / y)
# MOD
print("Division : ", x % y)
# Exponention
print("Exponention : ", x ** 2)
# Floor Division
print("Floor Division : ", 15//7)

The two variables are
X :  5
Y:  10
Addition :  15
Subtraction :  -5
Multiplication :  50
Division :  0.5
Division :  5
Exponention :  25
Floor Division :  2

# Comparison Operators

In [21]:
print("Less than operation: 2 < 3", 2 < 3)
print("Less than operation: 4 < 3", 4 < 3)

Less than operation: 2 < 3 True
Less than operation: 4 < 3 False