In [1]:
print("Hello World")

Hello World

# Comments in Python

In [3]:
# Assign a value to the variable b
b = 5

# Operators in python

## Arithmetic Operators

In [17]:
x = 5
y = 10
print("The two variables are")
print("X : ", x)
print("Y: ", y)
# Addition
print("Addition : ", x + y)
# Subtraction
print("Subtraction : ", x - y)
# multiplication
print("Multiplication : " ,  x * y)
# Division
print("Division : ", x / y)
# MOD
print("Division : ", x % y)
# Exponention
print("Exponention : ", x ** 2)
# Floor Division
print("Floor Division : ", 15//7)

The two variables are
X :  5
Y:  10
Addition :  15
Subtraction :  -5
Multiplication :  50
Division :  0.5
Division :  5
Exponention :  25
Floor Division :  2

## Comparison Operators

In [31]:
print("Less than operation: 2 < 3", 2 < 3)
print("Less than operation: 4 < 3", 4 < 3)
print("Greater than operation: 2 > 3", 2 > 3)
print("Greater than operation: 4 > 3", 4 > 3)
print("Equality operation: 4 == 3", 4 == 3)
print("Equality operation: 4 == 4", 4 == 4)
print("Equality operation: 'TEST' == 'PYTHON'", "TEST" == "PYTHON")
print("Equality operation: 'TEST' == 'TEST'", "TEST" == "TEST")
print("Equality operation: 'a' == 'a'", 'a' == 'a')
print("Greater operation: 'TEST' > 'PYTHON'", "TEST" > "PYTHON")
print("Greater than ore equal to operation: 4 >= 3", 4 >= 3)
print("Less than or equal to operation: 2 <= 3", 2 <= 3)
print("Not equal to operation: 2 != 3", 2 <= 3)

Less than operation: 2 < 3 True
Less than operation: 4 < 3 False
Greater than operation: 2 > 3 False
Greater than operation: 4 > 3 True
Equality operation: 4 == 3 False
Equality operation: 4 == 4 True
Equality operation: 'TEST' == 'PYTHON' False
Equality operation: 'TEST' == 'TEST' True
Equality operation: 'a' == 'a' True
Greater operation: 'TEST' > 'PYTHON' True
Greater than ore equal to operation: 4 >= 3 True
Less than or equal to operation: 2 <= 3 True
Not equal to operation: 2 != 3 True

## Logical Operators

In [38]:
# AND Operation
print("AND OPERATION : (1<3) and (4>2)", (1<3) and (4>2))
# OR Operation
print("OR OPERATION : (1<3) or (4<3)", (1<3) or (4<3))
# NOT Operation
print("NOT OPERATION : NOT((1<3) or (4<3))", not((1<3) or (4<3)))

AND OPERATION : (1<3) and (4>2) True
OR OPERATION : (1<3) or (4<3) True
NOT OPERATION : NOT((1<3) or (4<3)) False

# Variables

In [40]:
x = 5
test = "PYTHON BASICS" 
print(x, test)

5 PYTHON BASICS

# Input and Output

In [41]:
# Input
name = input("Enter your name : ")
age = int(input("Enter your age: "))

# Output
print("Name : ", name)
print("Age : ", age)

Enter your name : Pavithra
Enter your age: 28
Name :  Pavithra
Age :  28

Exercise - Coding Challenge

Consider two numbers, a = 5, b = 16. Write a Python program to print the sum of these two numbers

In [44]:
a = 5
b = 16

print("Sum of a: ", a , "and b: ", b, "is : ", a + b)

Sum of a:  5 and b:  16 is :  21

Write a Python program to take a number from the user as input and print the cube of the number.

In [46]:
num = int(input("Enter a number : "))

print("The cube of a number is : ", num ** 3)

Enter a number : 8
The cube of a number is :  512