# Data Types

In [2]:
num = 5
print("The type of number 5 is : ", type(num))

The type of number 5 is :  <class 'int'>

In [4]:
character = 'a'
print("The type of character a is : ", type(character))

The type of character a is :  <class 'str'>

In [5]:
text = 'helloworld'
print("The type of string helloworld is : ", type(text))

The type of string helloworld is :  <class 'str'>

In [7]:
boolean = True
print("The type of boolean 0 is : ", type(boolean))

The type of boolean 0 is :  <class 'bool'>

In [8]:
floating_point = 7.6
print("The type of flaot 7.6 is : ", type(floating_point))

The type of flaot 7.6 is :  <class 'float'>

# Strings

## Accessing String Elements

In [11]:
text = "Hello world!"
# Index starts from 0
# Returns index + 1 as an output
print("Character at index 7 is : ", text[7])

Character at index 7 is :  o

## Slicing of text

In [27]:
text = "Hello world!"
# Strats from index 4 (index starts from 0)
# stops at index 6 (end index - 1)
print("text at index 4 to 6 is  : ", text[4:7])

# Text within range
print("text at index 1 to 4 is  : ", text[1:5])

# Print from index 1, no upper bound
print("text from index 1 is  : ", text[1:])

# Print first 5 characters from the beginning
print("text till index 4 : ", text[:5])

text at index 4 to 6 is  :  o w
text at index 1 to 4 is  :  ello
text from index 1 is  :  ello world!
text till index 4 :  Hello

## Negative Indexing

In [26]:
text = "My name is pavithra"
# Negative index starts with -1
print("Last 8 characters", text[-8:])
# start from -8 go up to -2
print("Last 8 characters", text[-8:-2])

Last 8 characters pavithra
Last 8 characters pavith

## Concatenation

In [29]:
text1 = "Hello!"
text2 = "How are you!!"
concatenated = text1 + " " + text2
print(concatenated)

Hello! How are you!!

## String functions

In [31]:
name = "My name is pavithra"
print("Length of my name is  : ", len(name[-8:]))

Length of my name is  :  8

## The "in" syntax

In [36]:
sub_string = "pav"
name = "pavithra"
print(sub_string in name)

sub_string = "tra "
name = "pavithra"
print(sub_string in name)

True
False

## Iterate String characters

In [37]:
name = "Pavithra"
for char in name:
    print(char)

P
a
v
i
t
h
r
a

## Formatting Strings

In [38]:
name = input("Enter your name: ")
sentence = "My name is {name_from_input}".format(name_from_input = name)
print(sentence)

Enter your name: Pavithra
My name is Pavithra

## Upper Case and Lower case

In [40]:
name = "Pavithra"
print("Lower case : ", name.lower())
print("Upper case: ", name.upper())

Lower case :  pavithra
Upper case:  PAVITHRA

## Remove leading and trailing spaces

In [42]:
name = "  pavithra      "
print(name.strip())

pavithra

## Split String

In [44]:
text = "Silicon Valley"
arr = text.split(" ")
print("Split by space : ", arr)

arr = text.split("l")
print("Split by character l is : ", arr)

Split by space :  ['Silicon', 'Valley']
Split by character l is :  ['Si', 'icon Va', '', 'ey']

## Find and Replace

In [51]:
name = "Pavithra"
# Find - returns the index on which the character/substring occurs in the string
print(name.find("h"))
# Returns -1 if character not found
print(name.find("s"))
# search substring
print(name.find("av"))
# replace a character with another
if name.find("a"):
    name = name.replace("a", "A")
    print(name)

5
-1
1
PAvithrA

## Join

In [54]:
# Concatenates a list of strings to a new string
arr = ['silicon', 'valley']
new_text = " ".join(arr)
print(new_text)

silicon valley