##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [12]:
T = tuple(("python", ) * 5)
print(T)

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [19]:
text = input("Enter a string : ")
output = list()
for index, char in enumerate(text):
    if index % 2 == 0:
        output.append(char)
print(tuple(output))

Enter a string : python
('p', 't', 'o')

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [20]:
def avg_of_list(arr:list):
    no_of_ele = len(arr)
    return sum(arr)/no_of_ele

elements = [5, 7, 4, 9, 2]
print("Average of the elements in the list is : ", avg_of_list(elements))

Average of the elements in the list is :  5.4

### Task 4
Write a code that takes a year as input and determines whether it is a leap year or not.

In [25]:
def check_leap_year(year:int):
    if year % 400 == 0:
        print("It is a leap year")
    elif year % 4 == 0 and year % 100 != 0:
        print("It is a leap year")
    else:
        print("It is not a leap year")

for i in range(2):
    year = int(input("Enter the year : "))
    check_leap_year(year)

Enter the year : 1994
It is not a leap year
Enter the year : 1996
It is a leap year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [28]:
l = [21, 6, 12, 57, 35, 61]
ans = sorted(l)[-2] + sorted(l, reverse=True)[-2]
print("Answer: " , ans)

Answer:  69